body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
}

.bubble {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation: moveBubble 10s linear infinite;
}

@keyframes moveBubble {
  0% { transform: translateY(100vh) rotate(0deg); }
  100% { transform: translateY(-100vh) rotate(360deg); }
}
